#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

/* Electron-specific styles */
@media (max-width: 1500px) {
  #root {
    max-width: 100%;
    height: 100vh;
    overflow-y: auto;
  }
}
